<div id="main">
	<div class="orders">
		<div class="order container" v-for="part in mainData" v-if="part.authorName">
			<div class="customerInfo">
				<div class="customerImg">
					<img v-bind:src="part.authorImg" alt="">
				</div>
				<div class="customerName">
					[[part.authorName]]
				</div>
			</div>
			<div class="customerText">
				[[part.orderText]]
			</div>
			<div class="middle">
				<a href='/' class="text">Написать</a>
				<a v-bind:href="part.authorLink" class="text">Посмотреть профиль</a>
			</div>
		</div>
	</div>
	<div class="profile">
		<div class="ourInfo">
			<div class="userImg"></div>
			<div class="userName">
				<p>Khonan Doel</p> 
			</div>
		</div>
		<div class="keyWords">
			<p class="keyText">Key Words:</p>
			<div class="list" id="todo-list-example">
				<input
				v-model="newTodoText"
				v-on:keyup.enter="addNewTodo"
				placeholder="Добавить todo"
				class='newKey'
				maxlength=20>
				<ul>
					<li
					is="todo-item"
					v-for="(todo, index) in todos"
					v-bind:key="todo.id"
					v-bind:title="todo.title"
					v-on:remove="todos.splice(index, 1)"
					></li>
				</ul>
			</div>
		</div>
	</div>
</div>
